

@PART[M2X_InlineIntake]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_AeroIntake]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_circularintake]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_EngineShroud]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_MantaIntake]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_Precooler]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_Shockcone]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_Tailboom]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_ChineCap]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_ChineLong]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_ChineShort]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Shortbicoupler]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_HypersonicNose]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_InverterFuselage]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_linearTricoupler]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_SupersonicNose]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_UST]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Short25adapter]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_SpadeTail]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_625tricoupler]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Endcap]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Decoupler]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_LHub]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_THub]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_XHub]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_RadialMountA]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_RadialMountB]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_RadialLeg]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_OMSpod]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Reactor]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Servicebay]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_SolarpanelPod]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_RATO]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_RadialAASRB]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_LinearAerospike]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_AugmentedRocket]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_ESTOC]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_IonEngine]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Jumpjet]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_FuselageRVTOLE]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_LiftFan]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_FuselageLiftFan]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_MATTOCK]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Pegasus]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Pluto]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Ramjet]


@PART[M2X_InlineIntake]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_AeroIntake]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_circularintake]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_EngineShroud]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_MantaIntake]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_Precooler]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_Shockcone]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_Tailboom]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_Chine*]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = surface
    }
}

@PART[M2X_Shortbicoupler]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_HypersonicNose]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_InverterFuselage]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_linearTricoupler]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_SupersonicNose]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_UST]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Short25adapter]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_SpadeTail]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_625tricoupler]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Endcap]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Decoupler]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_LHub]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_THub]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_XHub]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_RadialMountA]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_RadialMountB]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_RadialLeg]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_OMSpod]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[M2X_Reactor]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Servicebay]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_SolarpanelPod]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}

@PART[M2X_RATO]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_RadialAASRB]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_LinearAerospike]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_AugmentedRocket]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_ESTOC]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_IonEngine]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Jumpjet]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_FuselageRVTOLE]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_LiftFan]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_FuselageLiftFan]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_MATTOCK]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Pegasus]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Pluto]:NEEDS[TweakScale]
{
   #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
   %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Ramjet]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_AtomicJet]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_SCRamjet]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Siddeley]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Turbofan]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Turbojet]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Turboprop]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_HeavyVTOL]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_FF5WayRCS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[M2X_OMSBlister]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[Mk1Chine*]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[M2X_Endcap]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_Nosebay]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}
@PART[M2X_StructuralTube]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = stack
        defaultScale = 1.25
    }
}  
@PART[M2X_PGRCS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[M2X_RCRCS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[M2X_RCSBlister]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[M2X_SCRCS]:NEEDS[TweakScale]
{
    #@TWEAKSCALEBEHAVIOR[Engine]/MODULE[TweakScale] { }
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[M2X_PoddedRadiator]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = surface
    }
}
@PART[M2X_RootChine*]:NEEDS[TweakScale]
{
    %MODULE[TweakScale]
    {
        type = surface
    }
}
